.head1{
    display:flex;
    justify-content: center;
    align-items: center;
}

.head{display: flex;
   background-color:#2D2727 ;
   color:white;
   border-radius: 40px;
   padding:2%;
   justify-content: center;
   width: 400px;
   transition: all 0.3s ease-in-out
 }
 body{
    font-family: monospace;
    background-color: white;
 }
 .main{
    border-radius: 1%;
    flex-direction: column;
    display:flex;

 }
 .personal{
    display:flex;
    flex-grow: 1;
    flex-direction:column;
 }
fieldset:hover{
    background-color: :antiquewhite;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    transform: all 0.3 ease-in-out;
}

.applyInput {
   display: flex;
   justify-content: center;
   translate (0,-10)
}